@import "../../assets/styles/config/all";

.sten-accordion__header {
    cursor: pointer;
    position: relative;
    background-color: $color-accordion-header-bg;
    min-height: $accordion-header-height;
    padding: $accordion-header-padding;
    transition: background-color $accordion-header-transition-length;
    user-select: none;
    >.sten-accordion__chevron {
        position: absolute;
        top: calc(50% - 0.75rem);
        left: 2*$gutter;
        vertical-align: middle;
        font-size: 1.5rem;
        transition: transform $accordion-expand-transition-length;
    }
    &:hover {
        background-color: $color-accordion-header-bg-hover;
    }
    &.sten-accordion__header--chevron-right {
        padding: $accordion-header-chevron-right-padding;
        >.sten-accordion__chevron {
            left: auto;
            right: 2*$gutter;
        }
    }
}

.sten-accordion.sten-panel > .sten-accordion__header {
    padding: $accordion-panel-header-padding;
    >.sten-accordion__chevron {
        left: $gutter;
    }
    &.sten-accordion__header--chevron-right {
        padding: $accordion-panel-header-chevron-right-padding;
        >.sten-accordion__chevron {
            left: auto;
            right: $gutter;
        }
    }
}

.sten-accordion + .sten-accordion {
    margin-top: 1px;
}

.sten-accordion__badge {
    margin-left: $gutter;
}

.sten-accordion__body {
    display: block;
}

.sten-accordion--collapsed {
    .sten-accordion__body {
        display: none;
    }
    .sten-accordion__chevron {
        transform: rotate(-90deg);
    }
}
